@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  background-color: $background-color;
}

.box {
  align-items: center;
  background-color: blue;
  border: 1px solid black;
  color: orange;
  display: flex;
  height: 200px;
  justify-content: center;
}


.row{
  display: flex;
  max-width: 800px;
  margin: 20px auto 0 auto;
}

.newGame, .empty{
  height: 70px;
}

.login, .gameCounter {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 10px 10px 10px;
  height: 140px;
}

.title{
  height: 70px;
}

input {
  display: block;
}

form{
  padding: 0 10px 0 0;
}

.empty{
  background-color: $background-color;
  border: none;
}
.newGame{
  background-color: $newGameButtonTrim;
}

#newGameButton {
  width: 100%;
  height:100%;
  background-color: $newGameButton;
  font-size: 200%;
}
